* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: white;
  background: black;
}

.navbar {
  padding: 10px 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav button {
  color:white;
  border: none;
  background: none;
  font-size: 1.8rem;
}

.body-wrap{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 3% 5% 5%;
}


.sidebar {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 210px;
  row-gap: 1.6rem;
  margin: 1px;
}

#headshot img{
  width: 210px;
  height: auto;
  border-radius: 50%;
}

#bio {
  font-size: 1.63rem;
  overflow: hidden;
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#contact-wrap ul li {
  margin: 8px;
}

#contact-wrap ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem;
}

#contact-wrap ul li a:hover{
  opacity: 0.5;
  transition: 0.75s;
}

.about {
  font-size: 1.4rem;
  padding: 2em 6em 0;
  display: inline-block;
  vertical-align: top;
  width: 55%;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

